modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick", "libwebp"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npx next build && cp -r public .next/standalone/public && cp -r .next/static .next/standalone/.next/static"]
run = ["sh", "-c", "PORT=5000 HOSTNAME=0.0.0.0 node .next/standalone/server.js"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HOSTNAME=0.0.0.0 npx next dev -p 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
NEXT_PUBLIC_SERVICETITAN_API_KEY = "m1cp1a9zj306h48ohavpwg8w"
NEXT_PUBLIC_SERVICETITAN_SCHEDULER_ID = "sched_vwgezlwi56yyvwdb0nzlng14"
NEXT_PUBLIC_CONCOM_FILTER_KEY = "uaab4SY6TlT6rnz5"
NEXT_PUBLIC_CONCOM_HVAC_KEY = "NzdTlJWvihCCWjsf"
NEXT_PUBLIC_CONCOM_WATER_HEATER_KEY = "ugVQLX7twEC3x7nG"
NEXT_PUBLIC_CONCOM_PLUGIN_KEY = "D32QhwUokdL5YZLParGpbxc7TuBTkYanGNQSR4zd"
NEXT_PUBLIC_RWL_API_KEY = "Mv2yZInBciS35Sln"
NEXT_PUBLIC_ST_SCHEDULER_API_KEY = "m1cp1a9zj306h48ohavpwg8w"
NEXT_PUBLIC_ST_SCHEDULER_ID = "sched_vwgezlwi56yyvwdb0nzlng14"
NEXT_PUBLIC_GTM_ID = "GTM-WKG99GJ"
NEXT_PUBLIC_PULSEM_DATA_ID = "3c6726153cb6483806907b70d6fae3496e2ef6d0a4077d6259c4407abcd67caf"
NEXT_PUBLIC_BROCCOLI_CHAT_ID = "d9cc73ef-3d59-4cfa-968f-b26e6ab24416"
NEXT_PUBLIC_ST_DNI_ID = "227669022"
NEXT_PUBLIC_WHOHIRE_SLUG = "intelligentdesignairconditioningplumbingroofingsolarelectric"

[agent]
integrations = ["google-mail:1.0.0"]
